@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font_principal: "Poppins", sans-serif;
    --cor_principal: #e3ae4c;
}

@keyframes animacao {
    0%{transform: scale(1);}
    
    100%{transform: scale(1.1);}
}

@keyframes texto{
    from{margin-left: 100%;
    width: 100%;
    }

    to{
        margin-left: 0%;
        
    }
}



* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

header {
    background-image: url(../assets/cabelo-brilhante.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 0px 20px;
}

header > picture {
    margin-top: 30px;
}

header > h2 {
    font-family: var(--font_principal);
    font-size: 1rem;
    font-weight: 200;
    font-style: normal;
    color: #fff;
}

header > .link > h1 {
    font-size: 2.3rem;
    color: var(--cor_principal);
    font-family: var(--font_principal);
    font-weight: 900;
    font-style: normal;
    
}

.transparent {
    color:rgba(0,0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--cor_principal);
}

.link {
    position: relative;
}

.link::after {
    content: "";
    background-image: linear-gradient(to left, red,blue);
    width: 100%;
    height: 2px;
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    transform-origin: 100%;
}

.link:hover::after {
    background-image: linear-gradient(to left, red,blue);
    transform: scaleX(1);
    transform-origin: 0;
}

header > p {
    color: #fff;
}

.btn_1 {
    font-size: 0.9rem;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to left,#e3b869,#d29a31);
    color: #fff;
    margin-top: 20px;
    border: 1px solid var(--cor_principal);
    box-shadow: 0px 15px 20px #dca745c2;
    cursor: pointer;
    animation-name: animacao;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn_1:hover {
    background-image: linear-gradient(to left, #d29a31,#e3b869);
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    box-shadow: 1px -30px 35px black;
    padding: 0px 20px;
}

main > .foto1_main {
    margin-top: 100px;
}

main > h1 , h2{
    font-family: var(--font_principal);
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--cor_principal);
}

main > p {
    font-family: var(--font_principal);
    color: #fff;
}

.foto2_main {
    margin-top: 30px;
}

.beneficios {
    border-bottom: 1px solid rgb(89, 89, 89);
    border-right: 1px solid rgb(89, 89, 89);
    border-radius: 10px;
}

.oportunidade_unica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    background-image: url(../assets/mulher_loira.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    padding: 30px;
}

.oportunidade_unica > h1 {
    font-family: var(--font_principal);
    font-weight: 900;
    font-size: 2.2rem;
    color: #000;
}

.oportunidade_unica > p {
    color: #000;
}

.transparent2 {
    color:rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.btn_2 {
    width: 225px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to left,#000000,#323232);
    color: #fff;
    margin-top: 20px;
    border: 1px solid #323232;
    box-shadow: 0px 15px 20px #000;
    cursor: pointer;
    animation-name: animacao;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn_2:hover {
    background-image: linear-gradient(to left, #323232, #000);
}

.div_selos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 100%;
}

.div_selos > section > h1 {
    font-family: var(--font_principal);
    font-weight: 900;
}

.selos {
    background-image: url(../assets/SL_0210121_40570_75.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 95%;
    border-radius: 50px;
    padding: 0px 15px;
}

.selos > img {
    position: relative;
    top: -35px;
    width: 100%;
}

.selos > h1 {
    font-family: var(--font_principal);
    font-size: 2.5rem;
    color: #fff;
}

.selos > p {
    font-size: 1.1rem;
    color: #fff;
}

.transparent3 {
    color:rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

.div_depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: #474747;   
    width: 100%;
    padding: 20px;
}

.div_depoimentos > h1 {
    font-family: var(--font_principal);
    font-size: 2rem;
    font-weight: 900;
    color: var(--cor_principal);
}

.div_depoimentos > p {
    color: #fff;
}

.icone_depoimentos {
    width: 60px;
}

.div_produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.div_produtos > h1 {
    font-family: var(--font_principal);
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--cor_principal);
}

.div_produtos > p {
    color: #fff;
    margin-bottom: 200px;
}

.produto_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 620px;
}

.produto_1 > picture {
    height: 200px;
}

.foto_produto_1 {
    position: relative;
    top: -155px;
}

.produto_1 > h1 {
    font-family: var(--font_principal);
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--cor_principal);
    margin-top: 20px;
}

.produto_1 > p {
    color: #fff;
}

.produto_1 > .preco {
    color: var(--cor_principal);
    font-family: var(--font_principal);
    font-size: 3.5rem;
    font-weight: 900;
}

.selo_bancario {
    margin-top: 70px;
    width: 85%;
}

.produto_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 30px var(--cor_principal);
    width: 90%;
    height: 705px;
    margin-top: 200px;
    padding: 0px 10px;
}

.produto_2 > picture {
    height: 200px;
}

.produto_2 > h1 {
    font-family: var(--font_principal);
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--cor_principal);
    margin-top: 20px;
}

.produto_2 > .preco {
    color: var(--cor_principal);
    font-family: var(--font_principal);
    font-size: 3.5rem;
    font-weight: 900;
}

.produto_2 > p {
    color: #fff;
}

.preco_cor_principal {
    color: var(--cor_principal);
}

.produto_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 650px;
    margin-top: 100px;
}

.produto_3 > h1 {
    color: var(--cor_principal);
}

.produto_3 > .preco {
    color: var(--cor_principal);
    font-family: var(--font_principal);
    font-size: 3.5rem;
    font-weight: 900;
}

.produto_3 > p {
    color: #fff;
}